DIGEST_USER=username
DIGEST_PASSWORD=supersecret
IP_WHITELIST=192.168.0.2,127.0.0.1

#Accu Weather
ACCUWEATHER_API_KEY=1234abcdkey
ACCUWEATHER_LOCATION_CODE=123abc

#weatherapi.com
WEATHER_API_KEY=1234abcdkey
WEATHER_COORDS=50.00000,12.00000

STEAM_API=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
STEAM_USER=xxxxxxxxxxxxxxxxx
STEAM_PROFILE_LINK=https://steamcommunity.com/id/xxxxxxxxxx/

SPOTIPY_CLIENT_ID=
SPOTIPY_CLIENT_SECRET=
SPOTIPY_REDIRECT_URI="https://example.com"

TG_API_KEY=""
TG_API_HASH=""
TG_IS_PREMIUM=True #you can just comment if no premium
TG_DEFAULT_STATUS="Зроби рекурсію. Ткни сюди: @polisan_the_easy_nick"
TG_DEFAULT_EMOJI=5260623257224110661

PILED_SHARED_SECRET=
PILED_DEFAULT_COLOR=#ffffff
PILED_ADDRESS=